services:
  - type: web
    name: room-39-proxy-kit
    env: node
    plan: free
    buildCommand: npm install
    startCommand: node server.js
    envVars:
      - key: NODE_VERSION
        value: 18.17.0
    autoDeploy: true
